<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <nav>
        <div class="nav-left">
            <a href="{{ url_for('index') }}">Home</a>     
        </div>
    </nav>

    <div class="login-container">
        <div class="imgbox">
            <img src="{{ url_for('static', filename='photo.svg') }}" alt="Background Image">
        </div>
    
        <div class="contentbox">
            <div class="formbox card">
                <h2>Login</h2>
                <form method="POST" action="{{ url_for('login') }}" id="loginForm" onsubmit="return validateForm()">
                    <div class="inputbox">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" required>
                        <span id="usernameError" class="error-message"></span>
                    </div>
                    <div class="inputbox">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required>
                        <span id="passwordError" class="error-message"></span>
                    </div>
                    <div class="inputbox">
                        <input type="submit" value="Sign in">
                    </div>
                    <div class="inputbox">
                        <p>Don't have an account...? <a href="{{ url_for('register') }}">Sign Up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
