/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #A9F1DF , #FFBBBB);
    margin: 0;
    padding: 0;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card{
    margin-top: 0;
}

.scrollable {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
}

.container {
    width: 85%;
    max-width: 488px;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    background: linear-gradient(-225deg,#EA8D8D , #A890FE);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Navigation Bar */

/* Navigation Styles */
nav {
    width: 100%;
    background: linear-gradient(90deg, #667eea, #764ba2);
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Left-aligned navigation links */
.nav-left {
    display: flex;
    gap: 20px;
}

/* Right-aligned navigation link */
.nav-right {
    display: flex;
    justify-content: flex-end;
}

/* Shared styles for all navigation links */
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #e3e3e3;
}


/* Headings */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 15px 0 5px;
    color: #555;
    font-weight: bold;
}

input[type="text"], input[type="number"], select {
    padding: 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border-color: #667eea;
    outline: none;
}

button[type="submit"] {
    padding: 15px;
    margin-top: 20px;
    background: linear-gradient(90deg, #667eea, #764ba2);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}

button[type="submit"]:hover {
    background: linear-gradient(90deg, #764ba2, #667eea);
    transform: translateY(-2px);
}
